/* Base styles */
body {
  font-family: 'Courier New', monospace;
  background-color: #001;
  color: #0f0;
  margin: 0;
  padding: 20px;
  line-height: 1.6;
}

.face {
  position: relative;
  margin-bottom: 20px;
}

.title {
  font-size: 2em;
  color: #0f0;
  text-shadow: 0 0 5px #0f0;
  text-align: center;
}

.sub-title {
  font-size: 1.6em;
  text-align: center;
  margin: -5px 0 10px;
}

.back-btn {
  color: #0f0;
  text-decoration: none;
  margin-right: 5px;
  font-size: 20px;
}

.back-btn:hover {
  text-shadow: 0 0 30px #0f0;
}

.repo-card {
  max-width: 420px;
  padding: 20px;
  box-sizing: border-box;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

nav {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: -25px 0 10px;
}

nav a {
  color: #0f0;
  text-decoration: none;
  font-size: 0.9em;
  border-bottom: 1px dashed #0f0;
}

nav a:hover {
  text-shadow: 0 0 5px #0f0;
}

.social-icons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

.social-icons a {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.social-icons svg {
  fill: #0f0;
  width: 100%;
  height: 100%;
  transition: fill 0.3s;
}

/* Media queries */
@media screen and (max-width: 800px) {
  .title {
      font-size: 1.8em;
  }

  .sub-title {
      font-size: 1.1em;
  }

  .repo-card {
      max-width: calc(50% - 20px);
      padding: 10px;
  }

  .back-btn {
      font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .title {
      font-size: 1.5em;
  }

  .sub-title {
      font-size: 1em;
  }

  .repo-card {
      max-width: calc(100% - 20px);
      padding: 10px;
  }

  .back-btn {
      font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  body {
      padding: 10px;
  }

  .title {
      font-size: 1.2em;
  }

  .sub-title {
      font-size: 0.9em;
  }

  .repo-card {
      max-width: calc(100% - 10px);
      padding: 5px;
  }

  .back-btn {
      font-size: 14px;
  }

  nav a {
      font-size: 0.8em;
  }

  .social-icons {
      gap: 5px;
  }

  .social-icons a {
      width: 16px;
      height: 16px;
  }
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.project-item {
  background-size: cover;
  background-position: center;
  flex: 1 1 calc(33% - 20px);
  min-width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-item.has-image .post-content {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  border-radius: 8px;
}
