html{
    border: 1px solid white;
    height: 96%;
    margin: 10px;
}
body {
    background-color: black;
    color: white;
    font-family: monospace;
}

.face {
    display: grid;
    place-items: center;
    padding: 180px;
}
.title {
    font-size: 32px;
    font-family: monospace;
}
.face nav a{
   font-size: 12px;
   text-decoration: none;
}
a:visited{
    text-decoration: none;
    color:blue;
}
a:active{
    color: blue;
    text-decoration: none;
}
a:hover{
    color: rgb(132, 195, 255);
    text-decoration: dashed;
}
