body {
    background-color: black;
    color: white;
    font-family: monospace;
    border: 1px solid white;
    padding: 60px;
}

.face {
    display: grid;
    place-items: center;
    padding-top: 180px;
}
.title {
    font-size: 32px;
    font-family: monospace;
}
.face nav a{
    text-decoration: none;
    font-size: 12px;
}
.face nav{
    padding-bottom: 180px;
}