---
layout: projects
title: project title
description: 
tags: 
permalink: 
---
<article class="post">
  <nav style="justify-content: center;">
    <a href="/">Home</a>
    <a href="/blog/">Blog</a>
    <a href="/projects/">Projects</a>
    <a href="/about.html">About</a>
    <!-- Add other navigation links as needed -->
  </nav>
    <h2>{{ page.title }}</h2>
    <p>{{ page.description }}</p>
    <p>Tags: {{ page.categories | join: ', ' }}</p>
    <div class="post-content">
      {{ content }}
    </div>
  </article>
  